In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

In [76]:
df = pd.read_csv("US_Accidents_June20.csv")

In [77]:
df.shape

(3513617, 49)

In [78]:
df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [79]:
def missing_values_table(df):
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("The dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns

In [80]:
missing_values_table(df)

The dataframe has 49 columns.
There are 23 columns that have missing values.

                       Missing Values  % of Total Values
End_Lat                       2478818               70.5
End_Lng                       2478818               70.5
Number                        2262864               64.4
Precipitation(in)             2025874               57.7
Wind_Chill(F)                 1868249               53.2
TMC                           1034799               29.5
Wind_Speed(mph)                454609               12.9
Weather_Condition               76138                2.2
Visibility(mi)                  75856                2.2
Humidity(%)                     69687                2.0
Temperature(F)                  65732                1.9
Wind_Direction                  58874                1.7
Pressure(in)                    55882                1.6
Weather_Timestamp               43323                1.2
Airport_Code                     6758                0.2
Timezone                         3880                0.1
Zipcode                          1069                0.0
Sunrise_Sunset                    115                0.0
Civil_Twilight                    115                0.0
Nautical_Twilight                 115                0.0
Astronomical_Twilight             115                0.0
City                              112                0.0
Description                         1                0.0

In [81]:
df.drop(['End_Lat', 'End_Lng', 'Number', 'TMC','Nautical_Twilight','Civil_Twilight','Astronomical_Twilight',"Timezone","Airport_Code"], axis=1, inplace=True)
missing_values_table(df)

The dataframe has 40 columns.
There are 14 columns that have missing values.

                   Missing Values  % of Total Values
Precipitation(in)         2025874               57.7
Wind_Chill(F)             1868249               53.2
Wind_Speed(mph)            454609               12.9
Weather_Condition           76138                2.2
Visibility(mi)              75856                2.2
Humidity(%)                 69687                2.0
Temperature(F)              65732                1.9
Wind_Direction              58874                1.7
Pressure(in)                55882                1.6
Weather_Timestamp           43323                1.2
Zipcode                      1069                0.0
Sunrise_Sunset                115                0.0
City                          112                0.0
Description                     1                0.0

In [84]:
df1 = df.dropna()
df1.describe()

,Severity,Start_Lat,Start_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,1.280431e+06,1.280431e+06,1.280431e+06,1.280431e+06,1.280431e+06,1.280431e+06,1.280431e+06,1.280431e+06,1.280431e+06,1.280431e+06,1.280431e+06
mean,2.280833e+00,3.695610e+01,-9.638807e+01,2.896235e-01,6.109514e+01,5.964433e+01,6.546835e+01,2.929834e+01,8.857772e+00,7.575935e+00,7.690692e-03
std,5.552270e-01,4.859186e+00,1.755675e+01,1.644573e+00,1.880892e+01,2.118511e+01,2.304907e+01,1.145833e+00,2.955996e+00,5.548336e+00,7.797500e-02
min,1.000000e+00,2.455527e+01,-1.245344e+02,0.000000e+00,-2.700000e+01,-5.270000e+01,1.000000e+00,1.948000e+01,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.385782e+01,-1.176210e+02,0.000000e+00,4.800000e+01,4.600000e+01,4.800000e+01,2.913000e+01,1.000000e+01,3.000000e+00,0.000000e+00
50%,2.000000e+00,3.626441e+01,-9.118070e+01,0.000000e+00,6.300000e+01,6.300000e+01,6.900000e+01,2.962000e+01,1.000000e+01,7.000000e+00,0.000000e+00
75%,3.000000e+00,4.072488e+01,-8.100054e+01,0.000000e+00,7.500000e+01,7.500000e+01,8.500000e+01,2.992000e+01,1.000000e+01,1.000000e+01,0.000000e+00
max,4.000000e+00,4.900220e+01,-6.748413e+01,2.512200e+02,1.150000e+02,1.150000e+02,1.000000e+02,5.774000e+01,1.000000e+02,9.840000e+02,2.500000e+01

In [90]:
df1.to_csv('US_accidents_clean.csv')

In [100]:
df1.dtypes

ID                    object
Source                object
Severity               int64
Start_Time            object
End_Time              object
Start_Lat            float64
Start_Lng            float64
Distance(mi)         float64
Description           object
Street                object
Side                  object
City                  object
County                object
State                 object
Zipcode               object
Country               object
Weather_Timestamp     object
Temperature(F)       float64
Wind_Chill(F)        float64
Humidity(%)          float64
Pressure(in)         float64
Visibility(mi)       float64
Wind_Direction        object
Wind_Speed(mph)      float64
Precipitation(in)    float64
Weather_Condition     object
Amenity                 bool
Bump                    bool
Crossing                bool
Give_Way                bool
Junction                bool
No_Exit                 bool
Railway                 bool
Roundabout              bool
Station                 bool
Stop                    bool
Traffic_Calming         bool
Traffic_Signal          bool
Turning_Loop            bool
Sunrise_Sunset        object
dtype: object