<a href="https://colab.research.google.com/github/pvn-leo/DataAnalytics/blob/master/US_accidents_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Init

Kaggle ---> [link](https://www.kaggle.com/sobhanmoosavi/us-accidents)

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount = True)

In [2]:
cd

/root

In [3]:
cd /content/drive/My Drive/da5

/content/drive/My Drive/da5

In [ ]:
!ls

In [5]:
#!unzip data1.csv.zip

# Imports

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# EDA

In [7]:
df=pd.read_csv('./US_Accidents_June20.csv')

In [8]:
df.head(10)

     ID    Source    TMC  ...  Civil_Twilight Nautical_Twilight Astronomical_Twilight
0   A-1  MapQuest  201.0  ...           Night             Night                 Night
1   A-2  MapQuest  201.0  ...           Night             Night                   Day
2   A-3  MapQuest  201.0  ...           Night               Day                   Day
3   A-4  MapQuest  201.0  ...             Day               Day                   Day
4   A-5  MapQuest  201.0  ...             Day               Day                   Day
5   A-6  MapQuest  201.0  ...             Day               Day                   Day
6   A-7  MapQuest  201.0  ...             Day               Day                   Day
7   A-8  MapQuest  201.0  ...             Day               Day                   Day
8   A-9  MapQuest  201.0  ...             Day               Day                   Day
9  A-10  MapQuest  201.0  ...             Day               Day                   Day

[10 rows x 49 columns]

In [10]:
print("Rows : ", df.shape[0])
print("Columns : ", df.shape[1])
#print('\nUnique values :  \n',df.nunique())

Rows :  3513617
Columns :  49